
aksharamukha/ScriptMap/MainIndic/__pycache__/

aksharamukha/ScriptMap/EastIndic/__pycache__/

aksharamukha/ScriptMap/__pycache__/

aksharamukha/__pycache__/

aksharamukha/ScriptMap/Roman/__pycache__/

aksharamukha/ScriptMap/NonIndic/__pycache__/

env/

aksharaenv/

build/

demoenv/

aksharamukha.egg-info/
__pycache__/
aksharamukha/test/__pycache__/
aksharamukha/test/__pycache__/__init__.cpython-310.pyc
aksharamukha/test/__pycache__/loc_burmese_test_cases.cpython-310-pytest-7.2.2.pyc
aksharamukha/test/__pycache__/loc_shan_test_cases.cpython-310-pytest-7.2.2.pyc
aksharamukha/test/__pycache__/test_file_generator.cpython-310-pytest-7.2.2.pyc
aksharamukha/test/__pycache__/testsuite.cpython-310-pytest-7.2.2.pyc
PyPI-Recovery-Codes-virtualvinodh-2024-05-10T17_33_00.552361.txt
