
aksharamukha/ScriptMap/MainIndic/__pycache__/

aksharamukha/ScriptMap/EastIndic/__pycache__/

aksharamukha/ScriptMap/__pycache__/

aksharamukha/__pycache__/

aksharamukha/ScriptMap/Roman/__pycache__/
