
aksharamukha/ScriptMap/MainIndic/__pycache__/

aksharamukha/ScriptMap/EastIndic/__pycache__/

aksharamukha/ScriptMap/__pycache__/

aksharamukha/__pycache__/

aksharamukha/ScriptMap/Roman/__pycache__/

aksharamukha/ScriptMap/NonIndic/__pycache__/

env/

aksharaenv/

build/

demoenv/

aksharamukha.egg-info/
__pycache__/loc_burmese_test_cases.cpython-310-pytest-7.2.2.pyc
